[workspace]
authors = ["TANIGUCHI Masaya <ta2gch@gmail.com>"]
channels = ["conda-forge"]
name = "xeus-haskell"
version = "0.1.0"
platforms = []

# [tasks]

# [dependencies]

#
# docs
[feature.docs]
platforms = ["linux-64", "osx-arm64"]
channels = ["conda-forge"]

[feature.docs.dependencies]
mkdocs = "*"
mkdocs-material = "*"

[feature.docs.pypi-dependencies]
mkdocs-mermaid2-plugin = ">=1.2.3, <2"

#
# dev
#

[feature.dev]
platforms = ["linux-64", "osx-arm64"]
channels = ["conda-forge"]

[feature.dev.dependencies]
make = "*"
cmake = "*"
cxx-compiler = "*"
xeus-zmq = ">=3.0.0,<4.0"
nlohmann_json = "*"
cppzmq = "*"
pytest = "*"
jupyter_kernel_test = ">=0.4.3"
nbval = "*"
pytest-rerunfailures = "*"
micromamba = "*"
jupyterlab = "*"

[feature.dev.tasks]
prebuild = """
cmake
  -S $PWD
  -B build
  -DCMAKE_BUILD_TYPE=Release
  -DCMAKE_INSTALL_PREFIX="$CONDA_PREFIX"
  -DCMAKE_PREFIX_PATH="$CONDA_PREFIX"
  -DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ON
"""
build = "cmake --build build"
install = "cmake --install build"
ctest = "ctest --test-dir build"
pytest = "pytest"
serve = "jupyter lab"

#
# wasm-build
#

[feature.wasm-build]
platforms = ["linux-64", "osx-arm64"]
channels = ["https://repo.prefix.dev/emscripten-forge-dev", "conda-forge"]

[feature.wasm-build.dependencies]
cmake = "*"
make = "*"
c-compiler = "*"
cxx-compiler = "*"
jupyterlite = "*"
jupyterlite-xeus = "*"
jupyter_server = "*"
emscripten_emscripten-wasm32 = "==3.1.73"

[feature.wasm-build.tasks]
prebuild = """
export PREFIX="$CONDA_PREFIX/../wasm-host"
unset CFLAGS CXXFLAGS LDFLAGS;
emcmake cmake
  -S $PWD
  -B wasm-build
  -DCMAKE_BUILD_TYPE=Release
  -DCMAKE_INSTALL_PREFIX="$PREFIX"
  -DCMAKE_PREFIX_PATH="$PREFIX"
  -DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ON
"""
build = "emmake make -C wasm-build"
install = "emmake make -C wasm-build install"
serve = """
export MHSDIR=$PWD/wasm-build/michrohs/src/MicroHsProject;
export PREFIX=$CONDA_PREFIX/../wasm-host;
jupyter lite serve
  --XeusAddon.prefix=$PREFIX
  --XeusAddon.mounts=$MHSDIR:$MHSDIR
  --contents notebooks/introduction_to_haskell.ipynb
"""
generate = """
export MHSDIR=$PWD/wasm-build/michrohs/src/MicroHsProject;
export PREFIX=$CONDA_PREFIX/../wasm-host;
jupyter lite build
  --XeusAddon.prefix=$PREFIX
  --XeusAddon.mounts=$MHSDIR:$MHSDIR
  --contents notebooks/introduction_to_haskell.ipynb
"""

#
# wasm-host
#

[feature.wasm-host]
platforms = ["emscripten-wasm32"]
channels = ["https://repo.prefix.dev/emscripten-forge-dev", "conda-forge"]

[feature.wasm-host.dependencies]
nlohmann_json = "*"
xeus-lite = ">=3.0,<4.0"
xeus = ">=5.0.0,<6.0"
xtl = ">=0.7,<0.8"

[feature.wasm-host.tasks]
prebuild = "echo ok"

#
# Environments
#

[environments]
docs = { features = ["docs"], no-default-feature = true }
dev = { features = ["dev"], no-default-feature = true }
wasm-build = { features = ["wasm-build"], no-default-feature = true }
wasm-host = { features = ["wasm-host"], no-default-feature = true }
